* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle at 12% 22%, rgb(253, 243, 233) 39.5%, rgba(72, 8, 97, 0.3) 98%);
    color: rgb(143, 64, 12);
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background: radial-gradient(circle at 10% 20%, rgb(250, 243, 236) 39.5%, rgba(100, 46, 122, 0.23) 100.2%);
}

.left {
    color: rgb(112, 38, 4);
    font-family: 'Style Script';
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 3px;
    cursor: pointer;
}

.right a {
    font-family: 'Poppins', sans-serif;
    color: rgb(112, 38, 4);
    text-decoration: none;
    letter-spacing: 1px;
}

nav li:hover a {
    color: rgba(89, 36, 109, 0.638);
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    display: block;
    margin: 15px;
    cursor: pointer;
}

.icons a {
    color: rgb(112, 38, 4);
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    font-size: 1.2rem;
}

.leftsec p {
    color: rgb(112, 38, 4);
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
    display: block;
    margin: 25%;
    margin-left: -5%;
    width: 100%;
    height: 100vh;
}

n {
    font-size: 4rem;
}

b {
    color: rgba(89, 36, 109, 0.638);
    font-family: 'poppins';
}
but a {
    text-decoration: none;
    color: rgb(112, 38, 4);
}
but {
    color: rgb(112, 38, 4);
    font-family: 'poppins';
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    border-style: solid;
    font-size: 1rem;
}
but:hover{
    color: rgba(89, 36, 109, 0.638);

}

main {
    display: flex;
    height: 100%;
}

.leftsec {
    width: 50%;
    display: block;
    text-align: center;
}
.rightsec{
    width: 40%;
}

img {
    position: absolute;
    width: 35%;
    height: 55vh;
    margin-top: 17%;
    margin-left: 10%;
    top: -100px;
    right: 50px;
    animation: animate 4s linear infinite;
}
@keyframes animate{
  50%{
    right: 30px;
    top: -90px;
  }
}