* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    width: 100%;
    background: radial-gradient(circle, rgba(154,200,166,1) 20%, rgba(122,168,177,1) 100%);
}

nav ul li a:hover{
    color:rgb(152, 126, 174) ;
}

.left {
    font-family: "Style Script";
    font-size: 3rem;
    color: black;
    font-weight: 600;
    align-items: center;
    cursor: pointer;
}


.right ul {
    display: flex;
    list-style: none;
    cursor: pointer;
}

.right ul li {
    display: flex;
    font-family: poppins;
    font-size: 1rem;
    align-items: center;
}

.right ul li a {
    display: flex;
    text-decoration: none;
    color: rgb(255, 255, 255);
    justify-content: space-around;
    margin: 10px;
    text-align: center;
}

.icons ul {
    display: flex;
    list-style: none;
}

.icons ul li {
    display: flex;
    font-size: 1rem;
    align-items: center;
}

.icons ul li a {
    display: flex;
    margin: 10px;
    text-decoration: none;
    color: aliceblue;
    align-items: center;
    font-size: 1rem;
}

.mode {
    display: flex;
    color: aliceblue;
    margin: 10px;
    cursor: pointer;
}

.mode switch:is(#dark, #light) {
    display: flex;
    transition: .2sec ease-in-out;
}

#dark {
    opacity: 0;
}

main {
    display: flex;
    width: 100%;
}

.leftsec {
    margin-top: 12%;
    display: flex;
    width: 50%;
    height: 100vh;
    text-align: center;
    justify-content: center;
}


.leftsec p {
    font-size: 2rem;
    font-weight: 600;
    font-family: Preahvihear;
    color: rgb(6, 3, 10);
}

b {
    color: rgb(142, 113, 169);
}

p a {
    text-decoration: none;
    color: aliceblue;
    font-family: "poppins";
}

button {
    border-radius: 6px;
    background-color: rgb(115, 145, 123);
    font-size: 20px;
}

button:hover{
    background-color: rgb(142, 113, 169);
}
.rightsec {
    width: 50%;
}

img {
    position: absolute;
    width: 35%;
    height: 55vh;
    margin-top: 17%;
    margin-left: 10%;
    top: -100px;
    right: 50px;
    animation: animate 4s linear infinite;
}
@keyframes animate{
  50%{
    right: 30px;
    top: -90px;
  }
}

